{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- Custom -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title> INSHAAT  {% block title %} {% endblock %}</title>
</head>

<body>
<! --Top BAr -->
{% include 'partials/_topbar.html' %}
<! --Nav BAr -->
{% include 'partials/_navbar.html' %}


{% block body %} {% endblock %}
<! --Footer BAr -->
{% include 'partials/_footer.html' %}
<script src="{% static 'js/jquery-3.3.1.min.js' %} "></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %} "></script>
<script src="{% static 'js/lightbox.bundle.min.js' %} "></script>
<script src="{% static 'js/main.js' %} "></script>
</body>

</html>